body {
    font-family: 'Roman';
    line-height: 1.6;
    background-color: #000000; /* fondo */
    color: #FFFFFF; /* texto */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #cccccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333333;
}

.header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Raleway';
}

.content {
    padding: 20px;
}

.content p {
    color: #dddddd;
    font-size: 1.2em;
    line-height: 1.8;
}

.content a {
    color: #00bfff;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: Raleway;
    src: url('../../../../fonts/Raleway/Raleway-VariableFont_wght.ttf');
 }

@font-face {
    font-family: Roman;
    src: url('../../../../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}